body {
    font-family: 'Lato', sans-serif;
    padding: 0 0.5em;
}

nav {
    padding: 0.5em 0;
    background-color: lightgrey;
}

nav, footer {
    margin: 0 -0.5em;
}

nav > ul {
    display: flex;
    justify-content: space-around;
}

header {
    padding: 3em 0;
}

header, footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 2em;
    padding-bottom: 0.2em;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 0.5em;
}

h1, h2, #headline {
    text-align: center;
    font-family: 'Quattrocento Sans', sans-serif;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
}

footer {
    background-color: lightgrey;
    padding: 0.5em 0;
}

footer > ul {
    display: flex;
    flex-direction: row;
    padding: 0.3em 0;
}

.project {
    padding: 1em 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.project-screenshot {
    max-width: 100%;
    max-height: 450px;
    background: transparent;
    align-self: center;
}

.contact-link {
    padding: 0.2em 0.5em;
}

.contact-link > a {
    color: black;
    font-size: 2em;
}

.contact-text {
    margin-bottom: 0.4em;
}

#headline {
    font-size: 1.2em;
}

#projects {
    padding: 1.5em 0;
}

#projects p {
    color: grey;
}

#bio, #projects {
    border-top: 1px solid darkgrey;
}

#bio p, #projects p {
    line-height: 1.3em;
    padding-top: 0.5em;
}

#bio {
    padding: 1.5em 0.2em;
}

#bio-info {
    display: flex;
    flex-direction: column;
}

#profile-photo {
    max-width: 250px;
    align-self: center;
}

@media only screen and (min-width: 600px){
    #bio-info {
        flex-direction: row;
    }
    
    #bio-text {
        margin-left: 0.6em;
    }
}